<div class="modal-header">
    <h3><span data-ng-bind="contato.empresa.nomeFantasia"></span></h3>
</div>
<div class="modal-body">

    <dl class="dl-horizontal">
        <dt>Nome: </dt>
        <dd><span data-ng-bind="contato.empresa.nomeFantasia"></span></dd>
        <dt>Razão Social: </dt>
        <dd><span data-ng-bind="contato.empresa.razaoSocial"></span></dd>
        <dd><span data-ng-hide="contato.empresa.razaoSocial">Não informado.</span></dd>
        <dt>Cnpj: </dt>
        <dd><span data-ng-bind="contato.empresa.cnpj"></span></dd>
        <dd><span data-ng-hide="contato.empresa.cnpj">Não informado.</span></dd>
        <dt>
            <ng-pluralize count="contato.empresa.telefones.length"
                      when="{'0': '',
                     'one': 'Telefone:',
                     'other': 'Telefones:'}">
            </ng-pluralize>
        </dt>
        <dd data-ng-show="contato.empresa.telefones" data-ng-repeat="telefone in contato.empresa.telefones"><span data-ng-bind="telefone.numero"></span></dd>
        <dt>
            <ng-pluralize count="contato.empresa.enderecos.length"
                      when="{'0': '',
                     'one': 'Endereço:',
                     'other': 'Endereços:'}">
            </ng-pluralize>
        </dt>
        <dd data-ng-show="contato.empresa.enderecos" data-ng-repeat="endereco in contato.empresa.enderecos">
            <span data-ng-bind="endereco.logradouro"></span> - <span data-ng-bind="endereco.numero"></span><br>
            <span data-ng-show="endereco.complemento">Complemento: </span><span data-ng-show="endereco.complemento" data-ng-bind="endereco.complemento"></span><br>
            <span data-ng-show="endereco.cep">Cep: </span><span data-ng-show="endereco.cep" data-ng-bind="endereco.cep"></span><br>
            <span data-ng-show="endereco.bairro">Bairro: </span><span data-ng-show="endereco.bairro" data-ng-bind="endereco.bairro"></span><br>
            <span data-ng-show="endereco.cidade">Cidade: </span>
                <span data-ng-show="endereco.cidade" data-ng-bind="endereco.cidade.nmMunicipio"> - </span>
                <span data-ng-show="endereco.cidade.estado" data-ng-bind="endereco.cidade.estado.nomeEstado"></span>
        </dd>
    </dl>

</div>
<div class="modal-footer">
    <button class="btn btn-info" ng-click="editar()">Editar</button>
    <button class="btn btn-primary" ng-click="ok()">Fechar</button>
</div>