@import 'variables.less';

@import '../app/painel/painel.less';
@import '../common/directives/menus/esquerda/esquerda.less';
@import '../common/directives/menus/direita/direita.less';
@import '../common/directives/lembretes/lembretes.less';


[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.modal {
  max-height: 70%;
  overflow-y: auto;
}

.top {
  margin-left : 15px;
  margin-right : 15px;
  margin-top : 2px;
}




