<div  class="fadeInUp">
    <div class="row-fluid" ng-cloak>
        <div class="span4">
            <button ui-sref="advogados.cadastrar" class="btn btn-success"><i class="icon-plus-sign icon-white"></i>
                Cadastrar novo Advogado
            </button>
        </div>
        <div class="pull-right" data-ng-show="advogados.content.length > 0" >
            <form data-ng-submit="buscar()">
                <div class="input-append">
                    <input class="" type="text" data-ng-model="pesquisa.query"/>
                    <button class="btn" type="submit">Buscar</button>
                </div>
            </form>
        </div>
    </div>
    <div data-ng-show="advogados.content.length > 0" >
        <div>
            <button class="btn" type="button" data-ng-show="pesquisa.inUse" data-ng-click="limparBusca()">Limpar Busca
            </button>
        </div>
        <table class="table table-hover table-bordered center-table" ng-cloak>
            <thead>
            <tr>
                <th>Nome</th>
                <th>OAB</th>
                <th>Email</th>
                <th>Telefone</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="advogado in advogados.content">
                <td data-ng-click="visualizar(advogado)"><span data-ng-bind="advogado.pessoa.nome"></span></td>
                <td data-ng-click="visualizar(advogado)"><span data-ng-bind="advogado.numeroOAB"></span></td>
                <td data-ng-click="visualizar(advogado)"><span data-ng-bind="advogado.pessoa.email"></span></td>
                <td data-ng-click="visualizar(advogado)"><span data-ng-bind="advogado.pessoa.telefones[0].numero"></span></td>
                <td>
                    <a href><span tooltip="Ver Detalhes"><i class="icon-search"
                                                            ng-click="visualizar(advogado)"></i></span></a>
                    <a href><span tooltip="Editar"><i class="icon-edit" ng-click="editar(advogado, $event)"></i></span></a>
                    <a href><span tooltip="Excluir"><i class="icon-trash" ng-click="deletar(advogado)"></i></span></a>
                </td>
            </tr>
            </tbody>
        </table>
        <div>
            <pagination num-pages="advogados.totalPages" page="advogados.current" total-items="advogados.totalElements"
                        previous-text="Anterior" next-text="Pr&#243;ximo" items-per-page="advogados.size"
                        on-select-page="pageChanged(page)"></pagination>
        </div>
    </div>
    <div data-ng-show="advogados.content.length === 0">
        <p>Nenhum advogado cadastrado ate o momento...</p>
    </div>
</div>