<div class="row-fluid">
    <div class="span4">
        <button ui-sref="empresas.cadastrar" class="btn btn-success"><i class="icon-plus-sign icon-white"></i> Cadastrar Nova Empresa</button>
    </div>
    <div class="pull-right">
        <form data-ng-submit="buscar()">
            <div class="input-append">
                <input class="" type="text" data-ng-model="pesquisa.query" />
                <button class="btn" type="submit">Buscar</button>
            </div>
        </form>
    </div>
</div>
<div>
    <button class="btn" type="button" data-ng-show="pesquisa.inUse" data-ng-click="limparBusca()">Limpar Busca</button>
</div>
<table class="table table-hover table-bordered center-table">
    <thead>
    <tr>
        <th>UID (Remover)</th>
        <th>Raz?o Social</th>
        <th>CNPJ</th>
        <th>Nome Fantasia</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr data-ng-repeat="empresa in empresas.content">
        <td data-ng-click="visualizar(empresa)"><span data-ng-bind="empresa.uid"></span></td>
        <td data-ng-click="visualizar(empresa)"><span data-ng-bind="empresa.razaoSocial"></span></td>
        <td data-ng-click="visualizar(empresa)"><span data-ng-bind="empresa.cnpj"></span></td>
        <td data-ng-click="visualizar(empresa)"><span data-ng-bind="empresa.nomeFantasia"></span></td>
        <td>
            <a href="" ><span tooltip="Ver Detalhes"><i class="icon-search icon-align-center" ng-click="visualizar(empresa)"></i></span></a>
            <a href="" ><span tooltip="Editar"><i class="icon-edit icon-align-center" ng-click="editar(empresa)"></i></span></a>
            <a href="" ><span tooltip="Excluir"><i class="icon-trash" ng-click="deletar(empresa)"></i></span></a>
        </td>
    </tr>
    </tbody>
</table>
<div>
    <pagination num-pages="empresas.totalPages" page="empresas.current"  total-items="empresas.totalElements"
                previous-text="Anterior" next-text="Pr&#243;ximo" items-per-page="empresas.size" on-select-page="pageChanged(page)"></pagination>
</div>