<a ui-sref="empresas.cadastro">Cadastro de empresa</a>

<h2>
    Busca:
</h2>
<table class="table table-hover table-bordered center-table">
    <thead>
    <tr>
        <th>UID (Remover)</th>
        <th>Razão Social</th>
        <th>CNPJ</th>
        <th>Nome Fantasia</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr data-ng-repeat="empresa in empresas.content">
        <td><span data-ng-bind="empresa.uid"></span></td>
        <td><span data-ng-bind="empresa.razaoSocial"></span></td>
        <td><span data-ng-bind="empresa.cnpj"></span></td>
        <td><span data-ng-bind="empresa.nomeFantasia"></span></td>
        <td>
            <a href="" ><i class="icon-edit" ng-click="editEmpresa(empresa)"></i></a>
            <a href="" ><i class="icon-trash" ng-click="deleteEmpresa(empresa)"></i></a>
        </td>
    </tr>
    </tbody>
</table>
<div>
    <ui-pagination cur="pagination.cur" total="pagination.total" display="{{pagination.display}}" ></ui-pagination>
</div>