<a ui-sref="empresas.cadastro">Cadastro de empresa</a>

<h2>
    Busca:
</h2>
<table class="table table-hover table-bordered center-table">
    <thead>
    <tr>
        <th>UID (Remover)</th>
        <th>Raz?o Social</th>
        <th>CNPJ</th>
        <th>Nome Fantasia</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr data-ng-repeat="empresa in empresas.content">
        <td><span data-ng-bind="empresa.uid"></span></td>
        <td><span data-ng-bind="empresa.razaoSocial"></span></td>
        <td><span data-ng-bind="empresa.cnpj"></span></td>
        <td><span data-ng-bind="empresa.nomeFantasia"></span></td>
        <td>
            <a href="" ><span tooltip="Editar"><i class="icon-edit icon-align-center" ng-click="editEmpresa(empresa)"></i></span></a>
            <a href="" ><span tooltip="Excluir"><i class="icon-trash" ng-click="deleteEmpresa(empresa)"></i></span></a>
        </td>
    </tr>
    </tbody>
</table>
<div>
    <pagination num-pages="empresas.totalPages" page="empresas.current"  total-items="empresas.totalElements"
                previous-text="Anterior" next-text="Pr&#243;ximo" items-per-page="empresas.size" on-select-page="pageChanged(page)"></pagination>
</div>