<html>
<head>
</head>
<body>

<table border="0" width="100%">
	<tr>
		<td bgcolor='#FFFFFF' width="50px"></td>
		<td bgcolor='#EEE9E9'></td>
		<td bgcolor='#EEE9E9' width="1px"></td>
		<td>
			<table border="0" width="100%">
				<tr>
					<td bgcolor='#EEE9E9' height="3px"></td>
				</tr>
				<tr>
					<td ALIGN="CENTER" bgcolor='#EEE9E9'><b>Novo Cadastro no Lawyer</b></td>
				</tr>
			</table>

			<table border="0">
				<tr>
					<td>Prezado(a)</td>
					<td>#{nome}</td>
				</tr>
				<tr>

				</tr>
			</table> <br>
			<table border="0">
				<tr>
					<td>#{email}</td>
				</tr>
			</table> <br>
			<table border="0">
				<tr>
					<td>Para completar seu cadastro acesse a url:<a href="{url}">#{url}</a>.</td>
				</tr>

			</table>

			<table border="0" ALIGN="CENTER" width="100%">
				<tr>
					<td bgcolor='#EEE9E9' height="3px"></td>
				</tr>
				<tr>
					<td ALIGN="CENTER" bgcolor='#EEE9E9' VALIGN="MIDDLE" height='20px'>
						<A HREF='#{url}'> <text>#{url}</text>
					</A>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
</body>
</html>