<div ng-if="true" class="fadeInUp">
    <form data-ng-submit="salvar()" name="cadastro" class="form-horizontal">
        <fieldset>
            <legend data-ng-show="tela.cadastro === true">Nova Empresa</legend>
            <legend data-ng-show="tela.edicao === true">Editar Empresa</legend>
            <div class="control-group">
                <label class="control-label" for="nome">Nome:*</label>

                <div class="controls">
                    <input id="nome" class="text x-large" type="text" ng-required="true"
                           data-ng-model="empresa.nomeFantasia"/>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="razao">Razão Social:</label>

                <div class="controls">
                    <input id="razao" class="text x-large" type="text" data-ng-model="empresa.razaoSocial"/>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="cnpj">CNPJ:</label>

                <div class="controls">
                    <input id="cnpj" name="cnpj" class="x-large" type="text" ng-model="empresa.cnpj"
                           ui-mask="99.999.999/9999-99"/>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">Telefones:</label>

                <div class="controls">
                    <button type="button" class="btn btn-info" data-ng-click="add('telefones')"><i
                            class="icon-plus-sign icon-white"></i></button>
                </div>
                <div data-ng-repeat="telefone in empresa.telefones" data-ng-hide="empresa.telefones.length == 0"
                     class="controls fadeInLeft fadeOutRight">
                    <br>

                    <div class="input-append">
                        <input name="telefone" class="x-large" type="text" ng-model="telefone.numero"/>
                        <button type="button" class="btn btn-info" data-ng-click="remove('telefones', $index)"><i
                                class="icon-trash icon-white"></i></button>
                    </div>
                    <hr>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">Responsáveis:</label>

                <div class="controls">
                    <button type="button" class="btn btn-info" data-ng-click="add('responsaveis')"><i
                            class="icon-plus-sign icon-white"></i></button>
                </div>
                <div data-ng-repeat="responsavel in empresa.responsaveis" data-ng-hide="empresa.responsaveis.length == 0"
                     class="controls">
                    <br>
                    <label for="responsavel">Nome:</label>
                    <input name="responsavel" id="responsavel" class="x-large" type="text"
                           ng-model="responsavel.pessoa"
                           typeahead-on-add="addPessoa($item, $index, responsavel)"
                           typeahead-editable="false"
                           typeahead-min-length="3"
                           typeahead-on-select="onSelectPessoa(responsavel.pessoa, $index)"
                           typeahead-lawyer="pessoa as pessoa.nome for pessoa in getPessoas($viewValue)"/>

                    <label for="setor">Setor:</label>
                    <input name="setor" id="setor" class="x-large" type="text"
                           ng-model="responsavel.setor"
                           typeahead-on-add="addSetor($item, $index, responsavel)"
                           typeahead-editable="false"
                           typeahead-min-length="2"
                           typeahead-on-select="onSelectSetor(responsavel.setor, $index)"
                           typeahead-lawyer="setor as setor.nome for setor in getSetores($viewValue)"/>
                        <button type="button" class="btn btn-info" data-ng-click="remove('responsaveis', $index)"><i
                                class="icon-trash icon-white"></i></button>
                    <hr>

                </div>
            </div>

            <div class="control-group">
                <label class="control-label">Endereços:</label>

                <div class="controls">
                    <button type="button" class="btn btn-info" data-ng-click="add('enderecos', $index)"><i
                            class="icon-plus-sign icon-white"></i></button>
                </div>
                <div data-ng-repeat="endereco in empresa.enderecos" data-ng-hide="empresa.enderecos.length == 0"
                     class="controls fadeInLeft fadeOutRight">
                    <ng-form name="formEndereco">

                        <div class="span5">
                            <label class="control-label" for="logradouro">Logradouro:</label>
                            <input name="logradouro" id="logradouro" class="x-large" type="text"
                                   ng-model="endereco.logradouro"/>
                            <label class="control-label" for="numero">Número:</label>
                            <input name="numero" id="numero" class="x-large" type="text" ng-model="endereco.numero"/>
                            <label class="control-label" for="complemento">Complemento:</label>
                            <input name="complemento" id="complemento" class="x-large" type="text"
                                   ng-model="endereco.complemento"/>
                            <label class="control-label" for="cep">CEP:</label>
                            <input name="cep" id="cep" class="x-large" type="text" ng-model="endereco.cep"/>

                            <label class="control-label" for="bairro">Bairro:</label>
                            <input name="bairro" id="bairro" class="x-large" type="text" ng-model="endereco.bairro"/>

                            <label class="control-label" for="municipio">Município:</label>
                            <input name="municipio" id="municipio" class="x-large" type="text"
                                   ng-model="endereco.municipio"
                                   typeahead-template-url="templates/typeaheadMunicipio/municipio.tpl.html"
                                   typeahead-min-length="3"
                                   typeahead-editable="false"
                                   typeahead="municipio as municipio.nmMunicipio for municipio in getMunicipios($viewValue)"/>
                            <button id="remover" type="button" class="btn btn-info"
                                    data-ng-click="remove('enderecos', $index)"><i class="icon-trash icon-white"></i>
                            </button>
                            <hr>
                        </div>
                    </ng-form>
                </div>
            </div>
            <hr>
            <div class="control-group">
                <div class="controls">
                    <button class="btn btn-success" type="submit" ng-disabled="!cadastro.$valid">Salvar</button>
                    <button class="btn btn-info" type="button" ng-disabled="!cadastro.$valid" data-ng-show="tela.cadastro === true"
                            data-ng-click="salvarContinuar(cadastro)">Salvar e criar uma nova empresa
                    </button>
                    ou <a data-ng-click="voltar()">Clique para voltar</a>
                </div>
            </div>
            <hr>
        </fieldset>
    </form>
</div>