<div>
    <form class="form-horizontal" data-ng-submit="salvar()" name="cadastro">
        <fieldset>
            <legend data-ng-show="tela.cadastro === true">Nova Empresa</legend>
            <legend data-ng-show="tela.edicao === true">Editar Empresa</legend>
            <div class="form-group">
                <label class="col-sm-2 control-label"
                       for="nome">Nome:*</label>

                <div class="col-sm-4">
                    <input id="nome" class="form-control" type="text" ng-required="true" autofocus
                           data-ng-model="contato.empresa.nomeFantasia"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label"
                       for="razao">Razão Social:</label>

                <div class="col-sm-4">
                    <input id="razao" class="form-control" type="text" data-ng-model="contato.empresa.razaoSocial"
                            />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label"
                       for="cnpj">CNPJ:</label>

                <div class="col-sm-4">
                    <input id="cnpj" name="cnpj" class="form-control" type="text" ng-model="contato.empresa.cnpj"
                           ui-mask="99.999.999/9999-99"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label"
                       for="tipoContato">Tipo:*</label>

                <div class="col-sm-4">
                    <select class="form-control" class="form-control" name="tipoContato" id="tipoContato"
                            data-ng-model="contato.tipoContato"
                            ng-init="contato.tipoContato = 'CLIENTE'">
                        <option value="CLIENTE">Cliente</option>
                        <option value="CONTATO">Contato</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">Telefones:</label>

                <div class="col-md-4">
                    <button type="button" class="btn btn-info" data-ng-click="add('telefones')"><i
                            class="glyphicon glyphicon-plus-sign icon-white"></i></button>

                    <div data-ng-repeat="telefone in contato.empresa.telefones"
                         data-ng-hide="contato.empresa.telefones.length == 0">
                        <ng-form class="form-horizontal" name="formTelefone">
                            <br/>

                            <div class="form-group">
                                <div class="row-offset-2">
                                    <div class="col-md-8">
                                        <input name="telefone" class="form-control" type="text"
                                               ng-model="telefone.numero"/>
                                    </div>
                                    <div class="col-md-4">
                                        <button type="button" class="btn btn-info"
                                                data-ng-click="remove('telefones',$index)"><i
                                                class="glyphicon glyphicon-trash icon-white"></i></button>
                                    </div>
                                </div>
                            </div>
                        </ng-form>
                    </div>

                </div>
            </div>
            <div class="form-group" ng-class="{'error' : blur.error, 'warning' : blur.warning}">
                <label class="col-sm-2 control-label">Responsáveis:</label>

                <div class="col-sm-4">
                    <button type="button" class="btn btn-info" data-ng-click="add('responsaveis')"><i
                            class="glyphicon glyphicon-plus-sign icon-white"></i>
                    </button>
                </div>
                <div data-ng-repeat="responsavel in contato.empresa.responsaveis"
                     data-ng-hide="contato.empresa.responsaveis.length == 0"
                     class="col-md-12 fadeInLeft">
                    <br/>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-4">
                            <label for="responsavel">Nome:</label>
                            <input name="responsavel" id="responsavel" class="form-control"
                                   type="text" ng-model="responsavel.pessoa"
                                   typeahead-on-add="addPessoa($item, $index, responsavel)"
                                   typeahead-editable="false" typeahead-min-length="3"
                                   typeahead-on-select="onSelectPessoa(responsavel.pessoa, $index)"
                                   typeahead-lawyer="pessoa as pessoa.nome for pessoa in getPessoas($viewValue)"
                                    />
                            <span class="help-inline" ng-show="blur.error">Informe uma pessoa válida.</span>
                            <label
                                    for="setor">Setor:</label>
                            <input name="setor" id="setor" class="form-control" type="text"
                                   ng-model="responsavel.setor" typeahead-on-add="addSetor($item, $index, responsavel)"
                                   typeahead-editable="false" typeahead-min-length="3"
                                   typeahead-on-select="onSelectSetor(responsavel.setor, $index)"
                                   typeahead-lawyer="setor as setor.nome for setor in getSetores($viewValue)"
                                    />
                            <button type="button" class="btn btn-info" data-ng-click="remove('responsaveis', $index)"><i
                                    class="glyphicon glyphicon-trash icon-white"></i>
                            </button>
                            <hr/>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label">Endereços:</label>

                <div class="col-md-8">
                    <button type="button" class="btn btn-info" data-ng-click="add('enderecos')"><i
                            class="glyphicon glyphicon-plus-sign icon-white"></i>
                    </button>
                </div>
                <div data-ng-repeat="endereco in contato.empresa.enderecos"
                     data-ng-hide="usuario.pessoa.enderecos.length == 0"
                     class="col-md-12 fadeInLeft">
                    <ng-form name="formEndereco">
                        <br/>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-4">
                                <label class="control-label"
                                       for="logradouro">Logradouro*:</label>
                                <input name="logradouro" id="logradouro" class="form-control"
                                       type="text" required ng-model="endereco.logradouro"/>
                                <br/> <span
                                    data-ng-show="formEndereco.logradouro.$error.required && formEndereco.$dirty"></span>
                                <label
                                        class="control-label" for="numero">Número:</label>
                                <input name="numero" id="numero" class="form-control" type="text"
                                       ng-model="endereco.numero"/>
                                <label class="control-label"
                                       for="complemento">Complemento:</label>
                                <input name="complemento" id="complemento" class="form-control"
                                       type="text" ng-model="endereco.complemento"/>
                                <label class="control-label"
                                       for="cep">CEP:</label>
                                <input name="cep" id="cep" class="form-control" type="text"
                                       ng-model="endereco.cep"
                                        />
                                <label class="control-label"
                                       for="bairro">Bairro:</label>
                                <input name="bairro" id="bairro" class="form-control" type="text"
                                       ng-model="endereco.bairro"/>
                                <label class="control-label"
                                       for="municipio">Município*:</label>
                                <input name="municipio" id="municipio" class="form-control"
                                       type="text" required ng-model="endereco.municipio"
                                       typeahead-template-url="templates/typeaheadMunicipio/municipio.tpl.html"
                                       typeahead-editable="false"
                                       typeahead="municipio as municipio.nmMunicipio for municipio in getMunicipios($viewValue)"
                                        />
                                <button id="remover" type="button" class="btn btn-info"
                                        data-ng-click="remove('enderecos', $index)"><i
                                        class="glyphicon glyphicon-trash icon-white"></i>
                                </button>
                            </div>
                        </div>
                    </ng-form>
                </div>
            </div>
            <hr/>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-6">
                    <button class="btn btn-success" type="submit" ng-disabled="!cadastro.$valid">Salvar</button>
                    <button class="btn btn-info" type="button" ng-disabled="!cadastro.$valid"
                            data-ng-show="tela.cadastro === true" data-ng-click="salvarContinuar(cadastro)">
                        Salvar e criar uma nova empresa
                    </button>
                    ou <a data-ng-click="voltar()">Clique para voltar</a>
                </div>
            </div>
            <hr/>
        </fieldset>
    </form>
</div>