<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/mvc"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd">


    <!-- Inclui os arquivos de configuração do core e do spring security -->
    <beans:import resource="classpath:spring-context-core.xml" />
    <beans:import resource="spring-context-security.xml" />

    <!-- Mapeamento dos arquivos estáticos da aplicação. JS, CSS, Imagens, etc. -->
    <mvc:resources mapping="/assets/**" location="/secure/assets/" />
    <mvc:resources mapping="/assets-login/**" location="/authentication/assets-login/" />
    <mvc:resources mapping="/src/**" location="/secure/src/" />
    <mvc:resources mapping="/vendor/**" location="/secure/vendor/" />
    <mvc:resources mapping="/errors/js/**" location="/errors/js/" />

    <!-- Define os pacotes que o spring vai procurar por controllers e services. Eu prefiro separá-los ao invés de deixar a raiz
     Em casos do projeto ter um package com repositories, pode haver o carreegamento incorreto dos beans -->
    <context:component-scan base-package="br.com.lawyer.web.annotation" />
    <context:component-scan base-package="br.com.lawyer.web.api" />
    <context:component-scan base-package="br.com.lawyer.web.controller" />
    <context:component-scan base-package="br.com.lawyer.web.delegate" />

    <!-- Define o scan do Spring -->
    <mvc:annotation-driven />
    <mvc:default-servlet-handler />

    <!-- View resolver para saber qual diretório e qual extensão procurar quando uma página e retornada -->
    <beans:bean id="viewResolver"
        class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <beans:property name="prefix" value="/" />
        <beans:property name="suffix" value=".html" />
    </beans:bean>

    <!-- Define o mapeamento de URLs padrão do Spring -->
    <beans:bean
            class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping">
    </beans:bean>

    <beans:bean id="jacksonMessageConverter" class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter"></beans:bean>
    <beans:bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">
        <beans:property name="messageConverters">
            <beans:list>
                <beans:ref bean="jacksonMessageConverter"/>
            </beans:list>
        </beans:property>
    </beans:bean>

</beans:beans>