<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         metadata-complete="false">


    <!-- Redirecionamentos de erros para as exceções HTTP comuns.
         Não inclui o mapeamento de exceções que a aplicação lança. Isso é feito na ExceptionHandlerController com a anotação @ControllerAdvice -->
    <error-page>
        <error-code>404</error-code>
        <location>/errors/redirect/404</location>
    </error-page>
    <error-page>
        <error-code>401</error-code>
        <location>/errors/redirect/401</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/errors/redirect/403</location>
    </error-page>
    <error-page>
        <error-code>405</error-code>
        <location>/errors/redirect/405</location>
    </error-page>
    <error-page>
        <error-code>415</error-code>
        <location>/errors/redirect/415</location>
    </error-page>
    <error-page>
        <error-code>400</error-code>
        <location>/errors/redirect/400</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/errors/redirect/500</location>
    </error-page>

	<session-config>
		<session-timeout>60</session-timeout>
	</session-config>
</web-app>

