<!DOCTYPE html>
<html data-ng-app="lawyer" lang="pt-br">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <title>Lawyer</title>
    <!-- compiled CSS -->
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>"/>
    <% }); %>
    <!--[if IE 7>
    <![endif]-->
    <!-- compiled JS -->
    <% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>"></script>
    <% }); %>



</head>
<body noty data-ng-controller="AppController">
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <app-header></app-header>
        </div>
    </div>
    <div class="row-fluid">
        <menu-esquerda></menu-esquerda>
        <div class="span8">
            <!--<div class="row">-->
                <!--<menu-central></menu-central>-->
            <!--</div>-->
            <div class="row">
                <div ui-view="main"></div>
            </div>
        </div>
        <lembretes></lembretes>
    </div>
</div>
</body>
</html>
