<!DOCTYPE html>
<html ng-app="lawyer" ng-controller="AppCtrl">
<head>
    <title>Lawyer</title>


    <link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">


    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>

    <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>"/>
    <% }); %>

    <!--[if IE 7>
    <link rel="stylesheet" href="assets/font-awesome-ie7.min.css />
    <![endif]-->

    <!-- compiled JS --><% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>"></script>
    <% }); %>

</head>
<body>


<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <div ng-include="'header/header.tpl.html'"></div>
            <div ng-include="'notifications/notifications.tpl.html'" class="container-fluid"
                 ng-show="notifications.getCurrent().length"></div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span2">
            <div class="progress">
                <div class="bar">
                </div>
                <timer interval="1000"> <span data-ng-bind="hours"></span> : {{minutes}} : <span data-ng-bind="seconds"></span></timer>
            </div>

        </div>
        <div class="span8">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="#">Profile</a>
                </li>
                <li class="disabled">
                    <a href="#">Messages</a>
                </li>
                <li class="dropdown pull-right">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">Dropdown<strong
                            class="caret"></strong></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#">Action</a>
                        </li>
                        <li>
                            <a href="#">Another action</a>
                        </li>
                        <li>
                            <a href="#">Something else here</a>
                        </li>
                        <li class="divider">
                        </li>
                        <li>
                            <a href="#">Separated link</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <div data-ui-view="main"></div>
        </div>
        <div class="span2">
            <ul class="nav nav-list">
                <li class="nav-header">
                    List header
                </li>
                <li class="active">
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="#">Library</a>
                </li>
                <li>
                    <a href="#">Applications</a>
                </li>
                <li class="nav-header">
                    Another list header
                </li>
                <li>
                    <a href="#">Profile</a>
                </li>
                <li>
                    <a href="#">Settings</a>
                </li>
                <li class="divider">
                </li>
                <li>
                    <a href="#">Help</a>
                </li>
            </ul>
        </div>
    </div>
</div>

</body>
</html>
