<div class="row" ng-cloak>
    <div class="pull-right" data-ng-show="contatos.content.length > 0">
        <form data-ng-submit="buscar()">
            <div class="input-append">
                <input class="" type="text" data-ng-model="pesquisa.query"/>
                <button class="btn" type="submit">Buscar</button>
            </div>
        </form>
    </div>
</div>
<div>
    <button class="btn" type="button" data-ng-show="pesquisa.inUse" data-ng-click="limparBusca()">Limpar Busca
    </button>
</div>
<div data-ng-show="contatos.content.length > 0">
    <table class="table table-hover table-bordered center-table" ng-cloak>
        <thead>
        <tr>
            <th>Nome</th>
            <th>Tipo</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="contato in contatos.content track by contato.uid" >
            <td data-ng-show="contato.pessoa" data-ng-click="visualizar(contato)"><span data-ng-bind="contato.pessoa.nome"></span></td>
            <td data-ng-show="contato.empresa" data-ng-click="visualizar(contato)"><span data-ng-bind="contato.empresa.nomeFantasia"></span></td>

            <td data-ng-show="contato.pessoa" >Pessoa  <span class="label label-info" data-ng-bind="contato.tipoContato | lowercase"></span></td>
            <td data-ng-show="contato.empresa" >Empresa   <span class="label label-info" data-ng-bind="contato.tipoContato | lowercase"></span></td>


            <td data-ng-show="contato.pessoa" >
                <a href><span tooltip="Ver Detalhes"><i class="icon-search" ng-click="visualizarPessoa(contato)"></i></span></a>
                <a href><span tooltip="Editar"><i class="icon-edit" ng-click="editarPessoa(contato, $event)"></i></span></a>
                <a href><span tooltip="Excluir"><i class="icon-trash" ng-click="deletarPessoa(contato)"></i></span></a>
            </td>
            <td data-ng-show="contato.empresa" >
                <a href><span tooltip="Ver Detalhes"><i class="icon-search" ng-click="visualizarEmpresa(contato)"></i></span></a>
                <a href><span tooltip="Editar"><i class="icon-edit" ng-click="editarEmpresa(contato, $event)"></i></span></a>
                <a href><span tooltip="Excluir"><i class="icon-trash" ng-click="deletarEmpresa(contato)"></i></span></a>
            </td>
        </tr>
        </tbody>
    </table>
    <div>
        <pagination num-pages="contatos.totalPages" page="contatos.current" total-items="contatos.totalElements"
                    previous-text="Anterior" next-text="Pr&#243;ximo" items-per-page="contatos.size"
                    on-select-page="pageChanged(page)"></pagination>
    </div>
</div>
<div data-ng-show="contatos.content.length === 0 && !pesquisa.inUse">
    <p>Nenhuma contato cadastrada ainda... Cadastra um, niggaz!</p>
</div>