<div class="row" ng-if="true" ng-cloak="ng-cloak">
    <div class="pull-right" data-ng-show="contatos.content.length > 0">
        <form class="form-horizontal" data-ng-submit="buscar()">
            <div class="input-group">
                <input class="" type="text" data-ng-model="pesquisa.query" />
                <button class="btn btn-default" type="submit">Buscar</button>
            </div>
        </form>
    </div>
</div>
<div>
    <button class="btn btn-default" type="button" data-ng-show="pesquisa.inUse"
            data-ng-click="limparBusca()">Limpar Busca</button>
</div>
<div data-ng-show="contatos.content.length>0" >
    <table class="table table-hover table-bordered center-table" ng-cloak="ng-cloak">
        <thead>
        <tr>
            <th>Nome</th>
            <th>Tipo</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="contato in contatos.content track by contato.uid">
            <td data-ng-show="contato.pessoa" data-ng-click="visualizar(contato)"><span data-ng-bind="contato.pessoa.nome"></span>
            </td>
            <td data-ng-show="contato.pessoa">Pessoa <span class="label label-info" data-ng-bind="contato.tipoContato | lowercase"></span>
            </td>
            <td data-ng-show="contato.pessoa"> <a ><span tooltip="Ver Detalhes"><i class="glyphicon glyphicon-search" ng-click="visualizarPessoa(contato)"></i></span></a>
                <a><span tooltip="Editar"><i class="glyphicon glyphicon-edit" ng-click="editarPessoa(contato, $event)"></i></span>
                </a> <a ><span tooltip="Excluir"><i class="glyphicon glyphicon-trash" ng-click="deletarPessoa(contato)"></i></span></a>
            </td>
            <td data-ng-show="contato.empresa" data-ng-click="visualizar(contato)"><span data-ng-bind="contato.empresa.nomeFantasia"></span>
            </td>
            <td data-ng-show="contato.empresa">Empresa <span class="label label-info" data-ng-bind="contato.tipoContato | lowercase"></span>
            </td>
            <td data-ng-show="contato.empresa"> <a ><span tooltip="Ver Detalhes"><i class="glyphicon glyphicon-search" ng-click="visualizarEmpresa(contato)"></i></span></a>
                <a><span tooltip="Editar"><i class="glyphicon glyphicon-edit" ng-click="editarEmpresa(contato, $event)"></i></span>
                </a> <a ><span tooltip="Excluir"><i class="glyphicon glyphicon-trash" ng-click="deletarEmpresa(contato)"></i></span></a>
            </td>
            <td data-ng-show="contato.usuario" data-ng-click="visualizar(contato)"><span data-ng-bind="contato.usuario.pessoa.nome"></span>
            </td>
            <td data-ng-show="contato.usuario">Usuario <span class="label label-info" data-ng-bind="contato.usuario.tipoUsuario | lowercase"></span>
            </td>
            <td data-ng-show="contato.usuario"></td>
        </tr>
        </tbody>
    </table>
    <div>
        <pagination num-pages="contatos.totalPages" ng-model="contatos.current" total-items="contatos.totalElements"
                    previous-text="Anterior" next-text="Próximo" items-per-page="contatos.size"
                    ng-change="pageChanged(page)"></pagination>
    </div>
</div>
<div data-ng-show="contatos.content.length === 0 && !pesquisa.inUse">
    <p>Nenhuma contato cadastrada ainda... Cadastra um, niggaz!</p>
</div>