<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:security="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.1.xsd ">

    <!-- Ativa as anotações em classes e métodos. -->


    <!-- Define os contextos que o security vai atuar e quais são os entrypoints da aplicação -->
    <security:http use-expressions="true">
        <security:intercept-url pattern="/secure/**" access="hasAnyRole('USER', 'MANAGER')" />
        <security:intercept-url pattern="/api/**" access="hasAnyRole('USER', 'MANAGER')" />
        <security:intercept-url pattern="/auth/*/**" access="isAnonymous()" />
        <security:form-login login-page="/auth"
                             authentication-failure-url="/auth" />
        <security:logout logout-success-url="/" delete-cookies="JSESSIONID"/>

        <!-- O remeber me precisa de outras configurações, ver isso depois -->
        <!--security:remember-me /-->

        <security:session-management invalid-session-url="/">
            <security:concurrency-control max-sessions="1" error-if-maximum-exceeded="true" />
        </security:session-management>
    </security:http>

    <!-- Define qual é o service que vai autenticar o usuário -->
    <security:authentication-manager alias="myAuthenticationManagerImpl" />

    </beans>