<div class="span2">
    <form ng-submit="addLembrete()">
        <input type="text" ng-model="novoLembrete.texto" class="input-block-level"
               placeholder="Digite um lembrete." focus>
    </form>
    <div class="list-group">
        <blockquote class="fadeInLeft" ng-repeat="item in lembretes" ng-class="{'todo-complete': item.finalizado}">
            <span class="close" ng-click="removeLembrete($index)">&times;</span>
            <label>
                <input type="checkbox" ng-model="item.finalizado" data-ng-click="updateLembrete($index)">
                <span ng-bind="item.texto"></span>
            </label>
        </blockquote>
    </div>
    <div>
        <button class="btn btn-info" ng-click="clearFinished()">Limpar Finalizados</button>
        <button class="btn btn-danger" ng-click="clearAll()">Limpar Todos</button>
    </div>
</div>