<ul class="nav nav-pills">
    <li><a ui-sref="cadastrar-usuario({tipo: 'usuario'})">
        Novo Usuário
    </a>
    </li>
    <li><a ui-sref="cadastrar-usuario({tipo: 'usuario'})">
        Novo Advogado
    </a>
    </li>
</ul>
<form class="form-horizontal" data-ng-submit="cadastrar()" name="cadastro">
<fieldset ng-switch="usuario.tipoUsuario">
<legend>Novo Usuario</legend>
<div class="form-group" ng-class="{'error' : !cadastro.nome.$valid && cadastro.nome.$dirty}">
    <label class="col-md-2 control-label"
           for="nome">Nome:*</label>

    <div class="col-md-4">
        <input id="nome" name="nome" class="form-control" type="text" required
               data-ng-model="usuario.pessoa.nome" autofocus/> <span class="help-inline"
                                                                     ng-show="cadastro.nome.$invalid && cadastro.nome.$dirty">Informe um nome.</span>
    </div>
</div>
<div class="form-group" ng-class="{'error' : !cadastro.email.$valid && cadastro.email.$dirty}">
    <label class="col-md-2 control-label"
           for="email">E-mail:*</label>

    <div class="col-md-4">
        <input id="email" name="email" required class="form-control"
               type="email" data-ng-model="usuario.email"/> <span class="help-inline"
                                                                  ng-show="cadastro.email.$invalid && cadastro.email.$dirty">Informe um e-mail válido.</span>
    </div>
</div>
<div class="form-group">
    <div class="col-md-offset-2 col-md-4">
        <div>
            <button type="button" class="btn btn-default" ng-model="usuario.tipoUsuario"
                    value="usuario" btn-radio="'usuario'">Usuário
            </button>
            <button type="button" class="btn btn-default" ng-model="usuario.tipoUsuario"
                    value="advogado" btn-radio="'advogado'">Advogado
            </button>
        </div>
    </div>
</div>
<div class="form-group" ng-switch-when="usuario">
    <label class="col-md-2 control-label" for="oab">OAB:</label>

    <div class="col-md-4">
        <input id="oab" class="form-control" type="text" data-ng-model="usuario.usuario.numeroOAB"/>
    </div>
</div>
<div class="form-group">
    <label class="col-md-2 control-label">Permisssões:</label>

    <div class="col-md-4">
        <div class="checkbox" data-ng-repeat="permissao in permissoes">
            <label>
                <input type="checkbox" value="{{permissao.nome}}" ng-checked="permissao.selected"
                       ng-click="toggleSelection(permissao)">
                <span data-ng-bind="permissao.nome"></span>
            </label>
        </div>
    </div>
</div>
<div class="form-group">
    <label class="col-md-2 control-label" for="documento">Documento:</label>

    <div class="col-xs-2">
        <input id="documento" name="documento" class="form-control" type="text"
               ng-model="usuario.pessoa.documento.identificacao"/>
    </div>
    <div class="col-xs-2">
        <select class="form-control" ng-model="usuario.pessoa.documento.tipoIdentificacao">
            <option value="RG">RG</option>
            <option value="CPF">CPF</option>
            <option value="RNE">RNE</option>
        </select>
    </div>
</div>
<div class="form-group">
    <label class="col-md-2 control-label">Telefones:</label>

    <div class="col-md-4">
        <button type="button" class="btn btn-info" data-ng-click="add('telefones')"><i
                class="glyphicon glyphicon-plus-sign icon-white"></i></button>

        <div data-ng-repeat="telefone in usuario.pessoa.telefones"
             data-ng-hide="usuario.pessoa.telefones.length == 0">
            <ng-form class="form-horizontal" name="formTelefone">
                <br/>

                <div class="form-group">
                    <div class="row-offset-2">
                        <div class="col-md-8">
                            <input name="telefone" class="form-control" type="text" ng-model="telefone.numero"/>
                        </div>
                        <div class="col-md-4">
                            <button type="button" class="btn btn-info"
                                    data-ng-click="remove('telefones',$index)"><i
                                    class="glyphicon glyphicon-trash icon-white"></i></button>
                        </div>
                    </div>
                </div>
            </ng-form>
        </div>

    </div>
</div>
<div class="form-group">
    <label class="col-md-2 control-label">E-mails:</label>

    <div class="col-md-4">
        <button type="button" class="btn btn-info" data-ng-click="add('emails')"><i
                class="glyphicon glyphicon-plus-sign icon-white"></i></button>

        <div data-ng-repeat="email in usuario.pessoa.emails"
             data-ng-hide="usuario.pessoa.emails.length == 0" class="fadeInLeft">
            <ng-form name="formEmail">
                <br/>

                <div class="form-group">
                    <div class="row-offset-2">
                        <div class="col-md-8">
                            <input name="email" class="form-control" type="email" ng-model="email.value"/>
                            <span ng-show="formEmail.email.$error.email">Digite um email válido</span>
                        </div>
                        <div class="col-md-4">
                            <button type="button" class="btn btn-info" data-ng-click="remove('emails', $index)">
                                <i class="glyphicon glyphicon-trash icon-white"></i></button>
                        </div>
                    </div>
                </div>
            </ng-form>
        </div>

    </div>
</div>
<div class="form-group">
    <label class="col-md-2 control-label">Endereços:</label>

    <div class="col-md-8">
        <button type="button" class="btn btn-info" data-ng-click="add('enderecos')"><i
                class="glyphicon glyphicon-plus-sign icon-white"></i>
        </button>
    </div>
    <div data-ng-repeat="endereco in usuario.pessoa.enderecos"
         data-ng-hide="usuario.pessoa.enderecos.length == 0"
         class="col-md-12 fadeInLeft">
        <ng-form name="formEndereco">
            <br/>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-4">
                    <label class="control-label"
                           for="logradouro">Logradouro*:</label>
                    <input name="logradouro" id="logradouro" class="form-control"
                           type="text" required ng-model="endereco.logradouro"/>
                    <br/> <span
                        data-ng-show="formEndereco.logradouro.$error.required && formEndereco.$dirty"></span>
                    <label
                            class="control-label" for="numero">Número:</label>
                    <input name="numero" id="numero" class="form-control" type="text"
                           ng-model="endereco.numero"/>
                    <label class="control-label"
                           for="complemento">Complemento:</label>
                    <input name="complemento" id="complemento" class="form-control"
                           type="text" ng-model="endereco.complemento"/>
                    <label class="control-label"
                           for="cep">CEP:</label>
                    <input name="cep" id="cep" class="form-control" type="text" ng-model="endereco.cep"
                            />
                    <label class="control-label"
                           for="bairro">Bairro:</label>
                    <input name="bairro" id="bairro" class="form-control" type="text"
                           ng-model="endereco.bairro"/>
                    <label class="control-label"
                           for="municipio">Município*:</label>
                    <input name="municipio" id="municipio" class="form-control"
                           type="text" required ng-model="endereco.municipio"
                           typeahead-template-url="templates/typeaheadMunicipio/municipio.tpl.html"
                           typeahead-editable="false"
                           typeahead="municipio as municipio.nmMunicipio for municipio in getMunicipios($viewValue)"
                            />
                    <button id="remover" type="button" class="btn btn-info"
                            data-ng-click="remove('enderecos', $index)"><i
                            class="glyphicon glyphicon-trash icon-white"></i>
                    </button>
                </div>
            </div>
        </ng-form>
    </div>
</div>
<div class="form-group">
    <label class="col-md-2 control-label">Criar um contato para o usuario?</label>

    <div class="col-md-4">
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="usuario.criarContato">
            </label>
        </div>
    </div>
</div>
<hr/>
<div class="form-group">
    <div class="col-sm-offset-2 col-sm-6">
        <button class="btn btn-success" type="submit" ng-disabled="!cadastro.$valid">Salvar</button>
        <button class="btn btn-info" type="button" ng-disabled="!cadastro.$valid"
                data-ng-click="salvarContinuar(cadastro)">Salvar e cadastrar novo usuário
        </button>
        ou <a ui-sref="usuarios">Clique para voltar</a>
    </div>
</div>
<hr/>
</fieldset>
</form>